/*BLOCKS START*/
.kurv1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  -ms-grid-row: 1;
  grid-row: 1;
  border: 0.5px solid #393939;
}

.kurv1 h6 {
  color: #00F9B6;
  padding: 0.5vw;
}

#order {
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11 / 13;
  -ms-grid-row: 1;
  grid-row: 1;
  color: #00F9B6;
  padding: 0.5vw;
  font-size: 0.7em;
}

.kurv2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  border: 1px solid #1F5E5B;
  background-color: #0A1D1C;
}

.kurv3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 10;
  grid-column: 3 / 13;
  -ms-grid-row: 2;
  grid-row: 2;
}

.kurv3 .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  padding: 1vw;
  color: white;
  border: 1px solid #393939;
}

.kurv3 .grid .card1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-row: 1;
  grid-row: 1;
}

.kurv3 .grid .card1 img {
  background-color: white;
}

.kurv3 .grid .card2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4 / 8;
  -ms-grid-row: 1;
  grid-row: 1;
  margin-left: 2vw;
}

.kurv3 .grid .card2 h3 {
  margin-bottom: 1vw;
}

.kurv3 .grid .card3 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8 / 10;
  -ms-grid-row: 1;
  grid-row: 1;
  margin-left: 2vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.kurv3 .grid .card3 button {
  height: 40px;
  width: 50px;
  background-color: #00F9B6;
  border: none;
  font-weight: 600;
}

.kurv3 .grid .card3 #left {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.kurv3 .grid .card3 #right {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.kurv3 .grid .card3 h5 {
  background-color: #00F9B6;
  height: 30px;
  color: black;
  text-align: center;
  padding-top: 0.8vw;
  font-weight: 600;
}

.kurv3 .grid .card4 {
  -ms-grid-column: 10;
  -ms-grid-column-span: 2;
  grid-column: 10 / 12;
  -ms-grid-row: 1;
  grid-row: 1;
  margin-left: 2vw;
}

.kurv3 .grid .card4 h4 {
  border: 1px solid #393939;
  padding: 0.3vw;
}

.kurv3 .grid .card5 {
  -ms-grid-column: 12;
  -ms-grid-column-span: 1;
  grid-column: 12 / 13;
  -ms-grid-row: 1;
  grid-row: 1;
  margin-left: 2vw;
}

.kurv3 .grid .card5 button {
  background-color: #D10061;
  color: white;
  width: 3.5vw;
  height: 6vh;
  border: none;
  border-radius: 5px;
  margin: 1vw 0 1vw 0;
  cursor: pointer;
  font-weight: 600;
}

.kurv4 {
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11 / 13;
  -ms-grid-row: 3;
  grid-row: 3;
}

.kurv4 button {
  background-color: #00F9B6;
  color: black;
  font-weight: 600;
  width: 82%;
  height: 40px;
  margin: 1vw 0 1vw 0.5vw;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*BLOCKS END*/
@media only screen and (max-width: 880px) {
  .kurv2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .kurv3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .kurv3 .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    padding: 1vw;
    color: white;
    border: 1px solid #393939;
  }
  .kurv3 .grid .card1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .kurv3 .grid .card1 img {
    width: 70%;
    margin: 2vw 0 1vw 4vw;
  }
  .kurv3 .grid .card2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .kurv3 .grid .card3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .kurv3 .grid .card3 h5 {
    height: 30px;
    padding-top: 2vw;
  }
  .kurv3 .grid .card4 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 5;
    grid-column: 5 / 10;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .kurv3 .grid .card4 h4 {
    border: none;
  }
  .kurv3 .grid .card5 {
    -ms-grid-column: 10;
    -ms-grid-column-span: 3;
    grid-column: 10 / 13;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .kurv3 .grid .card5 button {
    width: 40%;
  }
  .kurv4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
    -ms-grid-row: 4;
    grid-row: 4;
  }
}
/*# sourceMappingURL=kurv.css.map */