<% include ../partials/header %>    

<link rel="stylesheet" href="/assets/css/login.css">

<main>

<div class="grid-container">
       <div class="login1">
              <h6>
                  <i class="fa fa-home" style="color: #00F9B6;"></i>    Forside
              </h6>
       </div>
       <div class="login2">
              <% include ../partials/sidenav %>  
       </div>
       
<div id="login" class="login3"></div>

</div>

</main>
    

<script src="/assets/js/login.js"></script>

<% include ../partials/footer %>